
@{
    ViewBag.Title = "Supervision";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Supervisiones</h2>
<button onclick="abrirModal(0)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalSupervision">Agregar</button>
<div id="tabla" class="table-responsive"></div>
<div id="ModalSupervision" class="modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Supervisión</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="panel-heading ">
                    <br />
                    <div class="row ">
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <span class="help-block text-muted small-font">ID Supervisión</span>
                            <input type="text" id="TxtIDSupervision" class="form-control limpiar bloquear" placeholder="" />
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8">
                            <span class="help-block text-muted small-font"> Nombre de la Supervision</span>
                            <input type="text" id="TxtSupervision" class="form-control limpiar Supervision" placeholder="Supervision XX" />
                        </div>
                    </div>
                    <br />
                    <div class="row ">
                        <div class="col-md-8 col-sm-8 col-xs-8">
                            <span class="help-block text-muted small-font">Encargado</span>
                            <br />
                            <select id="cmbEncargado" class="btn btn-warning dropdown-toggle limpiar Supervision"></select>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <span class="help-block text-muted small-font">Tiendas</span>
                            <br />
                            <select id="cmbTiendas" multiple="multiple" class="form-control limpiar Supervision">
                                <option value="1">PLUS 01</option>
                                <option value="2">PLUS 02</option>
                                <option value="3">PLUS 03</option>
                                <option value="4">PLUS 04</option>
                                <option value="5">PLUS 05</option>
                                <option value="6">PLUS 06</option>
                                <option value="7">PLUS 07</option>
                                <option value="8">PLUS 08</option>
                                <option value="9">PLUS 09</option>
                                <option value="10">PLUS 10</option>
                                <option value="11">PLUS 11</option>
                                <option value="12">PLUS 12</option>
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="modal-footer">
                        <button id="btnGuardar" type="button" class="btn btn-success" onclick="GuardarSupervision()">GUARDAR</button>
                        <button id="btnCancelar" type="button" class="btn btn-danger" data-dismiss="modal">CANCELAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/Own/JS_System_Supervision.js"></script>
