
@{
    ViewBag.Title = "Comunicados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Avisos y Comunicados</h2>

<div id="TablistAreas" class="card"></div>
<!-- PopUp -->
<div id="ModalComunicados" class="modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Notificaciones</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="panel-heading ">
                    <!-- Inicia cuerpo Modal-->
                    <div class="row ">
                        <div class="col-md-4 col-sm-12 col-xs-12 justify-content-end">
                            <span class="help-block text-muted small-font">ID</span>
                            <input type="text" id="TxtIDNotificacion" class="form-control limpiar bloquear" placeholder="ID" />
                        </div>
                        <div class="col-md-8 col-sm-12 col-xs-12 justify-content-end">
                            <span class="help-block text-muted small-font">Notificación</span>
                            <input type="text" id="TxtNombre" class="form-control limpiar Comunicado" placeholder="Nombre" />
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-7 col-sm-6 col-xs-6">
                            <span class="help-block text-muted small-font">Área</span>
                            <BR />
                            <select id="cmbArea" style="width: 100%" class="btn btn-danger dropdown-toggle limpiar bloquear"></select>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-6">
                            <span class="help-block text-muted small-font"> Fecha Inicio</span>
                            <input type="date" id="TxtFInicio" class="form-control limpiar Comunicado" placeholder="dd/mm/aa" />
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-7 col-sm-6 col-xs-6">
                            <span class="help-block text-muted small-font">Usuarios</span>
                            <select id="cmbUsuarios" multiple="multiple" class="form-control limpiar Comunicado"></select>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-6">
                            <div>
                                <span class="help-block text-muted small-font">Fecha Fin</span>
                                <input type="date" id="TxtFFin" class="form-control limpiar Comunicado" placeholder="dd/mm/aa" />
                            </div>
                            <div>
                                <span class="help-block text-muted small-font">Recursos</span>
                                <select id="cmbRecurso" style="width: 100%" class="btn btn-success dropdown-toggle limpiar Comunicado"></select>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row ">
                        <div class="col-md-12 col-sm-12 col-xs-12 justify-content-end">
                            <img id="PBFoto" src="" width="470" height="250" alt="" class="Comunicado" />
                            <br />                            
                        </div>
                    </div>
                    <br />
                    <div class="row ">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div>
                                <span class="help-block text-muted small-font">Descripción</span><br />
                                <textarea type="text" id="TxtDescripcion" class="form-control limpiar Comunicado" rows="3" wrap="soft" placeholder="Inserte una breve descripción"></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- Termina cuerpo Modal content-->
                    <div class="modal-footer">
                        <button id="btnGuardar" type="button" class="btn btn-success" onclick="GuardarComunicado()">GUARDAR</button>
                        <button id="btnCancelar" type="button" class="btn btn-danger" data-dismiss="modal">CANCELAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/Own/JS_System_Comunicados.js"></script>